*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 12px;
}

/* big box */

.container {
  background-color: #e5e5e5;
  margin: auto;
  width: 50%;
  height: 60%;
}

.restaurant-list {
  padding-top: 8%;
}

/* arrow left */

nav {
  padding: 10px 0 15px 15px;
  position: fixed;
  width: 50%;
  background-color: #000000;
}

.arrow-left {
  float: left;
  margin-left: 2%;
}

/* small grey boxes and inside them */

.location {
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.location:hover{
   background-color:#bababa;
}

.content {
  display: inline-block;
  margin: 5%;
}

.arrow {
  float: right;
  margin: 5%;
}

h1 {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 2%;
}
